.fondo{
    background: #26798e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fondo2{
    background: rgb(22, 35, 63);
}

.colorEnlace{
    color: whitesmoke;
}

#container{
    width: 90%;
    margin: 0px auto;
    border: 3px dashed black;
    background-color: #63caa7;
}

header{
    font-family: fantasy;
    font-size: 30px;
    background-color: azure;
    margin: auto;
    height: 85%;
    width: 70%;
    text-align: center;
}

.cajita{
    background-color: rgb(35, 55, 109);
    border-top: 2px  black;
    border-bottom: 2px  black;
    height: 26px;
    /*height: 50px;*/
}

nav ul li{ 
    float: left;
    list-style: none;
    margin: 10px;
    font-size: 20px;
    /*display: inline-block;*/
    border-right: 2px solid white;
}


.clearfix{
    clear: both;
}

#content{
    float: left;
    background-color: beige;
    min-height: 500px;
    padding: 15px;
    width: calc(80% - 60px);
}

#content2{
    background-color: beige;
    min-height: 500px;
    padding: 15px;
    width: auto;
}

aside{
    float: right;
    width: 20%;
    min-height: 500px;
    padding: 10px;
    background-color: #ffe383;
}

article{
    border-bottom: 2px solid cornflowerblue;
}

.foot{
    background-color: black;
    color: cornsilk;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

p{
    padding: 15px;
}

.tablita{
    padding-bottom: 8px;
}

.caja{
    display: flex;
    margin: 35px;
}

.caja2{
    display: flex;
    margin: 90px;
    border-radius: 20px;
    background-color: rgb(253, 181, 0);
    border: 2px solid black;
    text-align: center; 
}

.caja3{
    display: flex;
    margin: 50px;
    border-radius: 20px;
    background-color: rgb(125, 10, 66);
    border: 2px solid black;
    text-align: center; 
}

.caja4{
    display: flex;
    margin: 30px;
    border-radius: 20px;
    background-color: rgb(235, 114, 7);
    border: 2px solid black;
    text-align: center; 
}

.caja5{
    display: flex;
    margin: 60px;
    border-radius: 20px;
    background-color: rgb(35, 55, 109);
    border: 2px solid black;
    text-align: center; 
}

.cajax{
    margin: 100px;
    border-radius: 20px;
    background-color: white;
    border: 2px solid black;
    text-align: center; 
}

.forimagen{
    border: 2px solid black;
    display: flex;
}

.contenedor{
    width: 100%;
    height: 360px;
    display: flex;
    justify-content: center;
}

.rectangulo{
    background-color: rgb(253, 181, 0);
    width: 200px;
    height: 300px;
    float: left;   
    margin: 10px;
    text-align: center;
}

.rectangulo2{
    background-color: rgb(125, 10, 66);
    width: 200px;
    height: 300px;
    float: left;   
    margin: 10px;
    text-align: center;
}

.rectangulo3{
    background-color: rgb(35, 55, 109);
    width: 200px;
    height: 300px;
    float: left;   
    margin: 10px;
    text-align: center;
}

.rectangulo4{
    background-color: rgb(235, 114, 7);
    width: 200px;
    height: 300px;
    float: left;   
    margin: 10px;
    text-align: center;
}

.rectangulo1{
    height: 80px;
}

.fuente{
    font-family: fantasy; 
    font-size: 80px;
    text-align: center;
}

.fuente1{
    text-align: center;
    font-size: 50px;
    color: blanchedalmond;
}

.fuenteBlanca{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
}

.fuenteNegra{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    text-align: center;
}